You must include the following things:
    • JavaScript IF
  if (items.length > 0) {
    items.forEach(function (item) {
      list.removeChild(item);
    
    • Another JavaScript IF with an else
if (value !== "" && !editFlag){
} else if (value !== "" && editFlag) {
} else
 JavaScript loop

    • JavaScript function
function addItem(e) {
  e.preventDefault();
  const value = grocery.value;
  const id = new Date().getTime().toString();
    • JavaScript function where something is passed to the function
function addItem(e) {
  e.preventDefault();
  const value = toDo.value;
  const id = new Date().getTime().toString();
    • JavaScript click event
// clear list
clearBtn.addEventListener("click", clearItems);

    • Another kind of event
// submit form
form.addEventListener("submit", addItem);

    • Take in user input and provide output to the user (interactive)
// display alert
function displayAlert(text, action) {
  alert.textContent = text;
  alert.classList.add(`alert-${action}`);
  // remove alert
  setTimeout(function () {
    alert.textContent = "";
    alert.classList.remove(`alert-${action}`);
  }, 3000);
}
    • Set up and use a form
const form = document.querySelector(".toDo-form");

    • Five different examples of more complex things using DOM JavaScript - these have to be explained. 
You can choose things from my examples or you can find things that interest you on the web.
// ****** local storage **********
// SETUP LOCALSTORAGE.REMOVEITEM('LIST');
i looked both of these things up and have used them thoroughly! 
